@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;
  --primary: 220 68% 50%;
  --primary-foreground: 0 0% 100%;
  --radius: 1rem;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}
